.header--bar{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
    background-color: #443C68;
    border-bottom: 2px ridge #635985;
    color: azure;
}

.header--title{
    margin-right: auto;
}

.link{
    color: aliceblue;
    margin : 0px 10px;
    text-decoration: none;
}

.btn--link{
    border: 1px solid aliceblue;
    padding: 10px 10px;
    border-radius: 5px;
}
.btn--link:hover{
    background-color: #334;
    transition: 0.7s;
}

.abt-us:hover{
    font-size: 20px;
    transition: 0.4s;
}